@font-face {
  font-family: Billie;
  src: url(../fonts/Plain\ Germanica.ttf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: Billie;
  font-size: 16px;
  background-image: url(../img/skewed.png);
  background-position: center;
  background-size: cover;
  background-position-y: 1400px;
}

header {
  width: 100%;
  height: 650px;
  background-image: url(../img/skewed.png);
  background-attachment: fixed;
  background-position: top;
  background-size: cover;
  position: relative;
  overflow: hidden;
  color: #fff;
  text-align: center;
}
header .textos {
  margin-top: 152px;
}
header .titulo {
  font-size: 85px;
}
header .subtitulo {
  font-size: 42px;
  font-weight: 300;
  margin-bottom: 32px;
}
header .boton {
  display: inline-block;
  padding: 6px;
  width: 128px;
  border: 1px solid #fff;
  color: #fff;
  font-size: 19px;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
}
header .sesgoabajo {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent #fff transparent;
}

main .acerca-de {
  background-color: #fff;
}
main .acerca-de .contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 52px 0;
}
main .acerca-de .sobre-nosotros {
  text-align: center;
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 600;
  height: auto;
}
main .acerca-de .slogan {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 24px;
}
main .acerca-de .parrafo {
  margin-bottom: 13px;
  font-weight: 300;
  text-align: justify;
  line-height: 24px;
  color: black;
}
main .acerca-de .boton {
  display: inline-block;
  padding: 6px;
  width: 128px;
  border: 1px solid #000;
  color: #000;
  font-size: 16px;
  text-align: center;
  text-decoration: none;
  border-radius: 16px;
  margin-top: 24px;
}
main section .sesgoarriba {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 35vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
main .galeria {
  width: 100%;
  height: 500px;
  overflow: hidden;
  display: flex;
  position: relative;
}
main .galeria .sesgoarriba {
  z-index: 10;
  position: absolute;
  top: 0;
  left: 0;
  border-width: 35vh 100vw 0 0;
  border-style: solid;
  border-color: #fff transparent transparent transparent;
}
main .galeria .imagenes {
  width: 20%;
  height: 500px;
  overflow: hidden;
  position: relative;
}
main .galeria img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
main .miembros {
  background-color: #fff;
}
main .miembros .contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 52px 0;
}
main .miembros .sobre-nosotros {
  text-align: center;
  font-size: 56px;
  margin-bottom: 10px;
  font-weight: 600;
  height: auto;
}
main .miembros .slogan {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 24px;
}
main .miembros .parrafo {
  margin-bottom: 13px;
  font-weight: 300;
  text-align: justify;
  line-height: 24px;
  color: crimson;
}
main .miembros .cards {
  width: 100%;
  margin: auto;
  display: flex;
  flex-wrap: wrap;
  justify-content: space-around;
}
main .miembros .cards .card {
  margin: 20px 0;
  width: 30%;
  height: 250px;
  text-align: center;
  padding: 20px;
  box-shadow: 0px 0px 4px 0px crimson;
}
main .miembros .cards .card img {
  width: 140px;
  height: 140px;
  object-fit: cover;
  border-radius: 100%;
}
main .fondo {
  height: 900px;
  position: relative;
  overflow: hidden;
  background-attachment: fixed;
  background-position: center;
  padding-top: 130px;
}
main .fondo .contenedor {
  width: 90%;
  max-width: 1000px;
  margin: auto;
  overflow: hidden;
  padding: 52px 0;
}
main .fondo .titulo-patrocinadores {
  text-align: center;
  font-size: 56px;
  font-weight: 600;
  height: auto;
  margin-top: 48px;
  text-shadow: white 0 -1px;
}
main .fondo .subtitulo-patrocinadores {
  font-size: 24px;
  font-weight: 300;
  text-align: center;
  margin-bottom: 24px;
  text-shadow: white 0 -1px;
}
main .fondo .clientes {
  display: flex;
  flex-wrap: wrap;
  margin-bottom: 64px;
  width: 100%;
  justify-content: space-between;
  border-color: 1px solid white;
}
main .sesgoabajo-unico {
  z-index: 10;
  position: absolute;
  bottom: 0;
  left: 0;
  border-width: 0 0 35vh 100vw;
  border-style: solid;
  border-color: transparent transparent white transparent;
}

footer .contenedor {
  background-color: white;
}
footer .contenedor .titulo-footer {
  text-align: center;
  font-size: 56px;
  padding: 40px 20px 40px 20px;
}
footer .contenedor .footer form {
  display: flex;
  width: 100%;
  justify-content: space-around;
  flex-wrap: wrap;
  margin: auto;
}
footer .contenedor .footer form input {
  display: inline-block;
  width: 45%;
  padding: 13px;
  border: none;
  color: grey;
  background: grey;
  margin-bottom: 16px;
  border-top: 1px solid grey;
}
footer .contenedor .footer form input:focus {
  border-top: 1px solid grey;
}
footer .contenedor .footer form textarea {
  display: block;
  width: 100%;
  max-width: 95%;
  min-width: 95%;
  max-height: 200px;
  min-height: 200px;
  background: grey;
  padding: 13px;
  border: none;
  margin-bottom: 16px;
}
footer .contenedor .footer form textarea:focus {
  border-top: 1px solid grey;
}
footer .contenedor .footer form .submit {
  display: inline-block;
  padding: 13px;
  border: none;
  color: white;
}
footer .socialmedia {
  color: black;
  background-color: white;
  font-size: 40px;
  padding: 20px 20px 20px 20px;
  letter-spacing: 20px;
  text-align: center;
}
footer .socialmedia i:hover {
  color: fuchsia;
}

@media screen and (max-width: 900px) {
  main .miembros .cards .card {
    width: 48%;
  }
}
@media screen and (max-width: 620px) {
  header .textos {
    margin-top: 130px;
  }
  main .miembros .cards .card {
    width: 90%;
  }
  .titulo {
    font-size: 75px;
  }
  .none {
    display: none;
  }
  .imagenes {
    flex-grow: 1;
  }
  .fondo {
    height: auto;
  }
}
@media screen and (max-width: 380px) {
  header .textos {
    margin-top: 130px;
  }
  header .titulo {
    font-size: 65px;
  }
  header .subtitulo {
    font-size: 25px;
    margin-bottom: 32px;
  }
  main .acerca-de .sobre-nosotros {
    font-size: 46px;
  }
  main .acerca-de .slogan {
    font-size: 20px;
  }
  main .fondo .titulo-patrocinadores {
    font-size: 46px;
  }
  main .fondo .subtitulo-patrocinadores {
    font-size: 20px;
  }
}

/*# sourceMappingURL=style.css.map */
